/* Base styling */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #ffffffff;
  --button-bg: #21b6a8
}

* {
    box-sizing: border-box;
  }
  
  section,
  article {
    margin: 0;
    padding: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 2%;
    
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1.5px 1px 0px rgba(128, 128, 128, 0.75)
  }

  h1 {
    font-size: 1rem;
    font-weight: 1000;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
  
  }
  .todo-container {
    display: flex;
  justify-content: space-between; /* Distribute space between children */
  align-items: flex-start; /* Align items to the start */
  gap: 10px;
  width: 80%; /* Adjust width as needed */
  margin-top: 5%;
  border: 1px solid #3498db;
  }
  #todo-form
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .todo-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #todo-content {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #3498db;
    padding: 5px;
  }
  #todo-title {
    
  }
#todo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  
}
.todo-items {
display:flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
box-shadow: 0px 1.5px 1px 0px rgba(128, 128, 128, 0.75);

}

button {
  box-shadow: 0px 1.5px 1px 0px rgba(128, 128, 128, 0.75);
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--button-bg);
  
}






  a {
    color:black;
    text-decoration: none;
  }